.v2-forms__floating-label-group {
  margin-bottom: 35px;
  margin-top: 35px;
  position: relative;
}

.v2-forms__floating-label {
  color: #53565A;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0.15px;
  line-height: 20.8px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition:
    top var(--duration-small) var(--easing-standard),
    left var(--duration-small) var(--easing-standard);
}

.v2-forms__floating-label-group input:focus ~ .v2-forms__floating-label,
.v2-forms__floating-label-group input:not(:placeholder-shown) ~ .v2-forms__floating-label,
.v2-forms__floating-label-group input:not(:focus):valid ~ .v2-forms__floating-label {
  font-size: 14px;
  letter-spacing: 0.15px;
  line-height: 18.2px;
  bottom: 0;
  left: 0;
  top: 3px;
}
