.v2-custom-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
  width: min(100%, 470px);
  padding: 50px 0;
}

.v2-custom-form-container .v2-custom-form--centered form {
  margin: 0 auto;
}

.v2-custom-form label {
  display: inline-block;
  font-size: var(--form-font-size);
  font-weight: var(--form-font-weight);
  line-height: var(--form-line-height);
  color: var(--c-medium-gray-1);
  padding: 5px 0;
  margin-bottom: 8px;
}

.field-wrapper[required] label::after {
  content: ' *';
  color: var(--primary-red);
}

.v2-custom-form-container input,
.v2-custom-form-container textarea,
.v2-custom-form-container select {
  background-color: var(--background-color);
  border: 1px solid var(--c-medium-gray-2);
  border-radius: var(--form-border-radius);
  color: var(--c-medium-gray-1);
  font-size: var(--form-font-size);
  font-family: var(--body-ff);
  width: 100%;
  max-width: 100%;
  padding: 16px 16px 14px;
}

.v2-custom-form-container input:hover,
.v2-custom-form-container textarea:hover,
.v2-custom-form-container select:hover,
.v2-custom-form-container .custom-dropdown__button:hover {
  outline: var(--form-border-hover);
  outline-offset: -2px;
}

.v2-custom-form-container input:focus,
.v2-custom-form-container textarea:focus,
.v2-custom-form-container select:focus,
.v2-custom-form-container .custom-dropdown__button:hover {
  border-color: var(--border-focus);
  outline: none;
}

.field-wrapper .error {
  font-size: var(--form-error-font-size);
  color: var(--error-color);
}

.field-wrapper.invalid :is(input, textarea, select, .custom-dropdown__button) {
  border-color: var(--error-color);
}

.form-submit-wrapper .button {
  background-color: var(--button-active);
  font-size: var(--body-font-size-m);
  font-family: var(--body-ff);
  color: var(--primary-white);
  padding: 13px 30px 10px;
  text-transform: uppercase;
  margin: 0 auto;
}

.v2-custom-form-container.background {
  --text-color: var(--primary-black);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: none;
  padding-bottom: 60px;
}

.v2-custom-form-container.background .default-content-wrapper,
.v2-custom-form-container.background .v2-custom-form-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.v2-custom-form-container.background > picture > img {
  width: 100%;
}

@media (min-width: 768px) {
  .v2-custom-form-container form {
    display: flex;
    flex-flow: row wrap;
    gap: 8px 16px;
    max-width: 720px;
  }

  .v2-custom-form-container .field-wrapper {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .v2-custom-form-container form {
    max-width: 960px;
  }

  .v2-custom-form--double-column form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 16px;
    width: 100%;
  }

  .v2-custom-form-container :is(.form-textarea-wrapper, .form-submit-wrapper) {
    grid-column: 1 / -1;
  }
}
